body {
  margin: 0;
  font-family: "HiraMinProN-W6";
  background-color: #f8f4e6;
}

a {
  text-decoration: none;
}

header {
  height: 75px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 140px;
  margin-top: 20px;  
  margin-left: 100px;
  float: left;
}

.header-center a {
  margin: auto;
  line-height: 75px;
  padding: 0 60px;
  color: #524748;
  text-align: center;
}

.contents img {
  position: absolute;
  left: 50%;
  top: 100px;
  width: 50%;
}

.contact-form  {
   margin: 100px 150px;
}

.map  {
   margin: 50px 150px;
}

.contents h3 {
  color: #524748;
}

.contents p {
  color: #524748;
  letter-spacing: 5px;
}

.map {
  color: #524748;
  letter-spacing: 5px;
  line-height: 45px;
}

input, textarea {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

