body {
  margin: 0;
  font-family: "HiraMinProN-W6";
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  height: 75px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 140px;
  margin-top: 20px;  
  margin-left: 100px;
  float: left;
}

a.header-center:hover {
  opacity: 1;
}

.header-center a {
  margin: auto;
  line-height: 75px;
  padding: 0 60px;
  color: black;
  opacity: 0.8;
  text-align: center;
}

.contents {
  display: inline-block;
  margin: 0 auto; 
}

.map {
  padding-top: 200px;
  padding-left: 200px;
}

.contact-form {
  padding-left: 200px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
